$white: #f5f5f5;
$dark: #4242ba;
$lighter: #526ace;
$lightest: #7a9af3;
$light: #97aeef;
$red: #e74c3c;
$green: #2ecc71;
$yellow: #f1c40f;
$gray: #95a5a6;
$break: 735px;

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100vh;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: $lighter;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#frame {
  width: 90vw;
  height: 90vh;
  background: #e6eaea;

  border-radius: 30px;

  #sidepanel {
    border-radius: 30px 0 0 0;
    float: left;
    min-width: 10vw;
    max-width: 40vw;
    width: 40%;
    height: 100%;
    background: $dark;
    color: $white;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: $break) {
      width: 15vw;
      min-width: 15vw;
    }

    #profile {
      width: 80%;
      border-bottom: 1px solid white;
      font-size: 3.5vh;
      width: 40vw;

      @media screen and (max-width: $break) {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: $lighter;
      }

      p {
        margin-left: 20px;
        @media screen and (max-width: $break) {
          font-size: 3vw;
          margin-left: 12px;
        }
      }
    }

    #search {
      border-top: 1px solid $lighter;
      border-bottom: 1px solid $lighter;
      font-weight: 300;

      @media screen and (max-width: $break) {
        display: none;
      }

      label {
        position: absolute;
        margin: 10px 0 0 20px;
      }

      input {
        font-family: "proxima-nova", "Source Sans Pro", sans-serif;
        padding: 10px 0 10px 46px;
        width: calc(100% - 25px);
        border: none;
        height: 5vh;
        background: $lighter;
        color: $white;
        font-size: 18px;

        &:focus {
          outline: none;
          background: $light;
        }

        &::-webkit-input-placeholder {
          color: $white;
          font-size: 18px;
        }

        &::-moz-placeholder {
          color: $white;
          font-size: 18px;
        }

        &:-ms-input-placeholder {
          color: $white;
          font-size: 18px;
        }

        &:-moz-placeholder {
          color: $white;
          font-size: 18px;
        }
      }
    }

    #contacts {
      height: calc(100% - 120px);
      overflow-y: scroll;
      overflow-x: hidden;
      margin-left: -40px;

      @media screen and (max-width: $break) {
        height: calc(100% - 25px);
        overflow-y: scroll;
        overflow-x: hidden;
        margin-left: -55px;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      &::-webkit-scrollbar {
        width: 8px;
        background: $dark;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #243140;
      }

      ul {
        list-style: none;

        li.contact {
          position: relative;
          margin-left: -20px;
          padding: 7px 0 10px 0;
          font-size: 0.9em;
          cursor: pointer;

          @media screen and (max-width: $break) {
            padding: 6px 0 35px 8px;
          }

          &:hover {
            background: $lighter;
          }

          &.active {
            background: $lighter;
            border-right: 5px solid $light;

            span.contact-status {
              border: 2px solid $lighter !important;
            }
          }

          .wrap {
            width: 88%;
            display: flex;
            align-items: center;

            .sellerProfile {
              position: relative;
              margin-left: 40px;
            }
            span {
              position: absolute;
              left: 0;
              margin: -2px 0 0 -2px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              border: 2px solid $dark;
              background: $gray;

              &.online {
                background: $green;
              }

              &.away {
                background: $yellow;
              }

              &.busy {
                background: $red;
              }
            }

            img {
              width: 50px;
              border-radius: 50%;
              float: left;
              margin-right: 10px;

              @media screen and (max-width: $break) {
                margin-right: 0px;
                width: 10vw;
              }
            }

            .meta {
              padding: 5px 0 0 0;
              @media screen and (max-width: $break) {
                display: none;
              }

              .name {
                font-weight: 600;
                margin-bottom: -10px;
              }

              .preview {
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include transition(1s all ease);

                span {
                  position: initial;
                  border-radius: initial;
                  background: none;
                  border: none;
                  padding: 0 2px 0 0;
                  margin: 0 0 0 1px;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }

  .content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: $break) {
      width: 75vw;
    }
    .contact-profile {
      border-radius: 0 30px 0 0;
      border: 1px solid rgba(0, 0, 0, 0.164);
      width: 100%;
      height: 60px;
      line-height: 60px;
      background: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content-heading {
        cursor: pointer;
        display: flex;
        align-items: center;

        p {
          font-size: 2.5dvh;
          font-weight: bold;
          color: black;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
        margin: 9px 12px 0 9px;
      }

      .social-media {
        display: flex;
        align-items: center;

        svg {
          cursor: pointer;
          margin-right: 1vw;
        }
      }
    }

    .messages {
      height: auto;
      min-height: calc(100% - 93px);
      max-height: calc(100% - 93px);
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      .messagesOption {
        cursor: pointer;
        height: 32vh;
        margin-top: 45vh;
        background: #f5f5f5;
        width: 54vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: $break) {
          width: 75vw;
        }
        .messageSelect {
          position: absolute;
          top: 41vh;
          background-color: #f5f5f5;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1),
            0 -2px 4px 0 rgba(0, 0, 0, 1);
          border-radius: 100% 100% 0 0;
          width: 4vw;
          text-align: center;
          padding: 10px;

          @media screen and (max-width: $break) {
          }
        }

        .messagelower {
          height: 6vh;
          display: flex;
          border-top-left-radius: 18px;
          border-top-right-radius: 18px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1),
            0 -2px 4px 0 rgba(0, 0, 0, 1);
          border: 2px solid black;
          padding: 7px;
          @media screen and (max-width: $break) {
            width: 73vw;
          }
          svg {
            margin-right: 7px;
            font-size: 1.5dvw;
            @media screen and (max-width: $break) {
              font-size: 3dvw;
            }
          }

          .messageQuestion {
            width: 26.5vw;

            font-size: 1.5dvw;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $break) {
              width: 37.5vw;
              font-size: 3dvw;
            }
          }

          .messageOffer {
            width: 26.5vw;
            font-size: 1.5dvw;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: $break) {
              width: 37.5vw;
              font-size: 3dvw;
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 8px;
        background: rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .sendOffer {
      display: flex;
      position: absolute;
      bottom: 15vh;
      span {
        font-size: 5dvh;
        margin-right: 1vw;
        margin-left: 1vw;
      }
      input {
        font-size: 3.5dvh;
        width: 25vw;
        height: 7dvh;
        @media screen and (max-width: $break) {
          width: 35vw;
        }
      }
      button {
        margin-left: 1vw;
        padding: 2dvh;
        background-color: wheat;
        border: none;
        width: 8vw;
        color: white;
        font-size: 2.5dvh;
        border-radius: 4vw;
        padding: 12px 0;
        cursor: pointer;
        background: $lighter;
        @media screen and (max-width: $break) {
          width: 15vw;
        }
        &:hover {
          background: $light;
        }
      }
    }
    .message-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
      height: 8vh;
      @media screen and (max-width: $break) {
      }
      .wrap {
        position: relative;

        ::-webkit-input-placeholder {
          font-size: 3.5vh;
          position: absolute;
          bottom: 4vh;
          @media screen and (max-width: $break) {
            bottom: 5vh;
          }
        }

        input[type="text"] {
          position: absolute;
          font-size: 3vh;
          border: 1px solid rgba(0, 0, 0, 0.164);
        }

        input {
          font-family: "proxima-nova", "Source Sans Pro", sans-serif;
          float: left;
          border: none;
          height: 8vh;
          width: calc(100% - 40px - 8vh);
          padding: 11px 32px 10px 8px;
          font-size: 0.8em;
          color: $lighter;
          &:focus {
            outline: none;
          }
        }

        .attachment {
          position: absolute;
          right: 70px;
          z-index: 4;
          margin-top: 3vh;
          font-size: 1.1em;
          color: $lighter;
          opacity: 0.5;
          cursor: pointer;

          @media screen and (max-width: $break) {
            margin-top: 17px;
            right: 60px;
          }

          &:hover {
            opacity: 1;
          }
        }

        button {
          float: right;
          border: none;
          width: 8vh;
          height: 8vh;
          padding: 12px 0;
          cursor: pointer;
          background: $lighter;
          color: $white;

          @media screen and (max-width: $break) {
            padding: 16px 0;
          }

          &:hover {
            background: $light;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
